*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: background 200ms;
    /* background: #f5f5f5; */
}

body {
    background: #f5f5f5;
    font-size: 14px;
    color: #555;
    line-height: 1.7;
    background: rgb(233, 250, 255);;
    color: black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

.container:before,
.container:after,
.clearf:before,
.clearf:after {
    content: "";
    display: block;
    clear: both;
}



.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10{
    position: relative;
    min-height: 1px;
    float: left;
}


.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}

.top {
    height: 20vh;
}
.top-nav {
    background: #eee;
}

.top-nav .item {
    display: inline-block;
    padding: 6px 10px;
    color: #666;
}
.top-nav .item:hover{
    color: #333;
}

.header {
    padding: 10px 80px;
}

.header .logo {
    display: flex;
font-size: 20px;
text-align: center;
justify-content: space-evenly;
}
.logo-l::after{
    content: "";
position: absolute;
height: 100%;
/* width: 1px; */
/* border: 1px solid black; */
border-right: 2px solid #6090c5;
top: 0px;
right: 90px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.image:hover{
    cursor: pointer;
}
.header .search-bar {
    border: 1px solid #b6b6b6;
background: #b6b6b6;
position: relative;
top: 7px;
right: 10px;
}

.header .search-bar input,
.header .search-bar button {
    display: block;
    float: left;
    border: 0;
    padding: 10px;
    outline: 0;
}

.header .search-bar input {
    width: 80%;
}

.header .search-bar input:focus {
    box-shadow: insert 0 0 2px 2px rgba(0, 0, 0, 0.5);
}


.header .search-bar button {
    width: 20%;
    background: #efa200;
    color: #fff;
}
.header .search-bar button:hover {
    background: #317ef3;
    color: #fff;
}

.header .card {
    text-align: center;
}

.header .card a{
    padding: 5px;
    float: right;
    background: #fff;
    border: 2px solid #eee;
    width: 70%;
    color: #3385ff;
}
.nav {
    padding: 0 80px;
    color: white;
font-weight: bold;
}
.nav .nav-header {
    padding: 10px;
    height: 100%;
    background: #88C6E5;
    text-align: center;
}
.nav .nav-header:focus {
    box-shadow: insert 0 0 2px 2px rgba(0, 0, 0, 0.5);
}
.nav .nav-header:hover{
    cursor: pointer;
}
.main {
    padding: 10px 80px;
    display: flex;
    height: 90vh;
}
.main .outborder {
    border:3px solid #C3DFEA;

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .books{
    margin-right: 20px;
    background: #FEF9EF;
}
.detail img {
    width: 165px;
}
.detail {
    display: flex;
    height: 100%;
    padding: 10px;
}
.detai-desc{
    margin-left: 20px;
}
.header-right{
    color: red;
        height: 38px;
        padding: 10px;
        position: relative;
        top: 8px;
        border: 1px solid lightgray;
}

.books-main {
    height: 180px;
    /* line-height: 20px; */
    /* overflow: hidden; */
    word-break: break-all;
    text-indent: 2em;
    padding: 7px 0 0;
    /* background: red; */
    /* width: 108px; */
}
.books-header{
    display: flex;
    justify-content: space-between;
}
.books-header > span{
    font-size: 13px;
}
.notes {
    border: 3px solid #C3DFEA;
float: right;
width: 350px;
background: #FEF9EF;
margin: 2px auto;
}
.notes ul{
    padding: 10px;
}
.s1 {
    width: 40px;
}
.notes ul {
    list-style-type:none;
}
.notes li {
    border-bottom: 1px solid #DDDDDD;
height: 28px;
line-height: 28px;
overflow: hidden;
padding: 5px 0 0;
}
.notes h2 {
    background-color: #E1ECED;
border-bottom: 1px solid #DDD;
font-size: 14px;
font-weight: 700;
height: 30px;
line-height: 30px;
overflow: hidden;
margin: 0;
padding: 0 0 0 10px;
}

.logo-title{
    font-size: 16px;
font-weight: bolder;
}
.logo-desc{
    font-size: 10px;
}

.logo-desc::before {
    content: "";
position: absolute;
border: 1px solid #96cada;
width: 40%;
top: 25px;
}
